*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

h2{
    text-align: center;
    color: white;
    background-color: black;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    margin: 10px auto;
    padding: 2px;
    display: block;
    width: 270px;
}
.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 70px auto 70px;
    grid-gap: 3px;
    color:black;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: cursive;
    height: 100%;  
    grid-template-areas: 
        "m h h h h h h h h h h h"
        "m c c c c c c c c c c c"
        "m f f f f f f f f f f f";
}

.header{
    grid-area: h;
    background-color:lightseagreen;
}

.menu{
    background-color:lightcoral;
    grid-area: m;
}

.content{
    background-color: darkgreen;
    grid-area: c;
    height: calc(100vh-140px);
}

.footer{
    background-color: lightslategray;
    grid-area: f;
}